/* estilos para el menú de navegación */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3140dc;
    color: #acd1e7;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  nav ul li a {
    color: #e7eaf4;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    transition: all 0.3s ease;
  }
  nav ul li a:hover {
    background-color: #4075ca;
    color: #83909d;
    border-radius: 5px;
  }
  
  nav ul li.active a {
    background-color: #456bcb;
    color: #2c3e50;
    border-radius: 5px;
  }
  /* estilos para el encabezado */
  header {
    background-color: #5ea4e6;
    border-bottom: 1px solid #1e1381;
  }
  
  header h1 {
    font-size: 36px;
    color: #3e0c9b;
    margin: 0;
    padding: 20px;
  }
  
  /* estilos para el contenedor principal */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* estilos para las secciones */
  section {
    margin-bottom: 40px;
  }
  
  section h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  /* estilos para los trabajos */
  .job {
    margin-bottom: 20px;
  }
  
  .job h3 {
    margin-top: 0;
  }
  
  .job ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  /* estilos para el formulario de contacto */
  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px #6873c5;
  }
  
  textarea {
    height: 150px;
  }
  
  input[type="submit"] {
    background-color: #5264be;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #263487;
  }
  